/* BUTTONS */
.btn-fun{
    padding: 5px 20px;
  border-radius:4px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background-color:lightslategrey;
}

.btn-box{
    padding: 2px 10px;
    border-radius:4px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(32, 20, 85);
}

.btn-box2{
  padding: 2px 10px;
  border-radius:4px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(255, 0, 0);
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  margin-top: 15px;
  margin-left: 20px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.btn_manage {
  padding: 6px 10px;
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col3{
 text-align: right;
}

.btn_views{
    color: #fff;
    background-color: rgb(255, 174, 0);
    font-weight: bold;
    font-size:14px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
}

.btn_active{
    color: #fff;
    background-color: rgb(1, 161, 55);
    font-weight: bold;
    font-size:14px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
}